* {
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

*:focus {
  outline: 2px dashed #7296ec;
  offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100px;
  padding: 0;
  margin: 0;
  font-family: 'Rubik',Arial, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1240;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.site-header {
}
.site-header-top {
  background-color: #f6f6f6;
  padding-top: 32px;
  padding-bottom: 30px;
}
.site-header-top-container {
  display: flex;
  align-items: center;
}
.logo-img {
  display: flex;
  background-color: #fff;
  padding: 8px 6px;
  margin-right: 35px;
  border-radius: 7px;
}
.logo-img:hover {
  opacity: 0.8;
}
.logo-img:active {
  opacity: 0.6;
}

.currency-rates {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style-type: none;
}
.currency-rates-item:not(:last-child) {
  margin-right: 25px;
}
.currency-rates-type {
  color: #2959CE;
}
.currency-rates-volue {

}

.global-search-form {
  margin-right: 25px;
}
.global-search-form-input {
  padding: 15px 20px 13px 40px;
  border: 0;
  border-radius: 60px;
  line-height: normal;
}

.lang-toggle {
  display: flex;
  padding: 3px;
  border-radius: 39px;
  background-color: #dce6ff;
  margin-right: 25px;
}
.lang-toggle-link {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #a6a6a6;
}
.lang-toggle-link-active {
  background-color: #fff;
  color: #000;
}
.button {
  display: inline-block;
  padding: 13px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align : center;
  cursor: pointer;
}
.button-primary {
  background: #7296EC;
  color: #fff ;
}

.site-header-bottom {
}
.site-header-bottom-container{
  display: flex;
  align-items: center;
}
.site-header-bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.site-header-bottom-list {
  list-style: none;

}
.site-header-bottom-list:not(:last-child) {
  margin-right: px;
}
.site-header-bottom-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}