/* GLOBAL STYLE */
* {
  box-sizing: border-box;
}
*:focus {
  outline: 2px dashed #7296ec;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  color: #4a4b4c;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}
.button {
  display: inline-block;
  padding: 13px 20px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align : center;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.6;
}
/* END GLOABA STYLE */



/* SITE HEADER TOP */
.site-header-top {
  background-color: #f6f6f6;
  padding-top: 32px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}
.site-header-top-container {
  display: flex;
  align-items: center;
}
.logo-img {
  display: flex;
  background-color: #fff;
  padding: 8px 6px;
  margin-right: 35px;
  border-radius: 7px;
}
.logo-img:hover {
  opacity: 0.8;
}
.logo-img:active {
  opacity: 0.6;
}


.currency-rates {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style-type: none;
}
.currency-rates-item:not(:last-child) {
  margin-right: 25px;
}
.currency-rates-type {
  color: #2959CE;
}



.global-search-form {
  margin-right: 25px;
}
.global-search-form-input {
  padding: 15px 20px 13px 40px;
  border: 0;
  border-radius: 60px;
  line-height: normal;
}


.lang-toggle {
  display: flex;
  padding: 3px;
  border-radius: 39px;
  background-color: #dce6ff;
  margin-right: 25px;
}
.lang-toggle-link {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #a6a6a6;
}
.lang-toggle-link-active {
  background-color: #fff;
  color: #000;
}


.button-primary {
  background: #7296EC;
  color: #fff ;
}


/* SITE HEADER BOTTOM */
.site-header-bottom-container{
  display: flex;
  align-items: center;
}
.site-header-bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.site-header-bottom-list {
  list-style: none;

}

.site-header-bottom-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

/* SITE NAVIGATION  */
.sitenav {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
}
.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sitenav-item {
  margin-top: 4px;
  margin-bottom: 4px;
}
.sitenav-item:not(:last-child) {
  margin-right: 34px;
}
.sitenav-link {
  display: block;
  text-decoration: none;
  color: #7f7f7f;
}
.sitenav-link:hover {
  opacity: 0.8;
}
.sitenav-link:active {
  opacity: 0.6;
}

.site-header-banner-link {
  display: flex;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 50px;
}



.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.new-grid-item {
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.article-card {
  display: flex;
  flex-direction: column;
  padding: 20px 17px 15px;
  border-radius: 15px;
  background-color: #f6f6f6;
}

.article-card-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.article-card-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.article-card-img {
  display: block;
  border-radius: 10px;
  margin-top: auto;
}

.article-card-footer {
  display: flex;
  justify-content: start;
  margin-top: 15px;
}
.article-card-source-img {
  display: flex;
  margin-right: 10px;
}
.article-card-source-time {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}




.notification-cta {
  display: flex;
  justify-content: space-between;
  margin: 50px 75px 60px;
  padding: 25px 70px 25px 25px;
  background-color: #ffd7ba;
  border-radius: 10px;
}
.notification-cta-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000;
}
.button-orange {
  background-color: #F78B3B;
  color: #fff;
}
